<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>MyCalendar</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'mycalendar/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'mycalendar/style.css' %}">
</head>
<body>
<a href="{% url 'mycalendar:calv2' cal.previous_year cal.previous_month %}">previous month</a>
{{ cal.now }}
<a href="{% url 'mycalendar:calv2' cal.next_year cal.next_month %}">next month</a>
<br>
{{ cal.week }}<br>
{{ cal.days }}<br>
{{ cal.next_month }}<br>
{{ cal.previous_month }}
</body>
</html>