<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>MyCalendar</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'mycalendar/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'mycalendar/style.css' %}">
</head>
<body>
<a href="{% url 'mycalendar:calv' cal.previous_year cal.previous_month %}">previous month</a>
{{ cal.now }}
<a href="{% url 'mycalendar:calv' cal.next_year cal.next_month %}">next month</a>
<div class="wrapper">
    <table>
        <thead>
        <tr>
            {% for w in cal.week %}
                <th>{{ w }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for days in cal.days %}
            <tr>
                {% for day in days %}
                    <th>{{ day }}</th>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>