<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>MyCalendar</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'mycalendar/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'mycalendar/style.css' %}">
</head>
<body>
<div class="now">{{ cal.now }}</div>
<table class="table">
    <thead class="thead">
    <tr>
        <th class="th">月</th>
        <th class="th">火</th>
        <th class="th">水</th>
        <th class="th">木</th>
        <th class="th">金</th>
        <th class="th">土</th>
        <th class="th">日</th>
    </tr>
    </thead>
    <tbody class="tbody">
    {% for days in cal.days %}
    <tr>
        {% for day in days %}
            {% if day == 0 %}
                <td class="td"></td>
            {% elif day == cal.today%}
                <td class="td today">{{ day }}</td>
            {% else %}
                <td class="td">{{ day }}</td>
            {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>
<a class="month" href="{% url 'mycalendar:calv' cal.previous_year cal.previous_month %}">← 前月</a>
<a class="month" href="{% url 'mycalendar:calv' cal.next_year cal.next_month %}">翌月 →</a>
</body>
</html>